body{
    box-sizing: border-box;
    margin: 0;

}


.container{
    width: 100vw;
    height: 100vh;
    background-color: #2b2727;
}

.header{
    justify-content: center;
    width: 100vw;
    height: 107.24vh;
}

/*entête principale*/
#div1{
    position: relative;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  
}

/*entête avec menu*/
.background_menu{
    background-image: url(images/affiche2.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: none;
}

/*grid des différentes rubriques du site*/
.category_menu{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    display: none;   
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
}

/*flex des rubriques du menu pour aligner le chiffre avec le texte*/
.rubric1, .rubric2, .rubric3, .rubric4{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*emplacement de la rubrique biographie dans la grid*/
.rubric1{
    grid-area:   1 / 1 / 3 / 4; 
    margin-left: 2.6vh;
}

/*survol des rubriques du menu*/
.rubric1:hover, .rubric2:hover, .rubric3:hover, .rubric4:hover{
    width: 42vw;
    height: 40vh;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
}

/*survol rubrique biographie*/
.rubric1:hover{
    color: #e9940b;
    background-image: url(images/survol_vert.png);
}

/*emplacement de la grid de la rubrique gallerie*/
.rubric2{
    grid-area: 2 / 6 / 4 / 9; 
}

/*survol rubrique gallerie*/
.rubric2:hover{
    background-image: url(images/brush_red.png);
}

/*emplacement de la rubrique événements dans la grid*/
.rubric3{
    grid-area:   3 / 2 / 5 / 5; 
}

/*survol de la rubrique événements*/
.rubric3:hover{
    color: #fefee2;
    background-image: url(images/brush_violet\ 1.png);
}

/*emplacement de la rubrique contact dans la grid*/
.rubric4{
    grid-area: 4 / 5 / 6 / 9;
}

/*survol de la rubrique contact*/
.rubric4:hover{
    color: #177026;
    background-image: url(images/brush_black.png);

}

/*taille du chiffre des rubriques*/
.nb{
    font-size: 7.8vw;
}

/*taille des noms noms des rubriques*/
.category{
    font-size: 3.3vw;
}

/*barres du menu*/
.bar1{
    background-color: #fefee2;
    height: 0.16vh;
    width: 4.6vw;
    margin: 0 0 0.5vw 1.3vw;
}

.bar2{
    background-color: #fefee2;
    height: 0.6vh;
    width: 3.1vw;
    margin: 0 0 0.5vw 2.6vw;
}

.bar3{
    background-color: #fefee2;
    height: 0.16vh;
    width: 5.7vw;
    margin-bottom: 0.5vw;
}

.bar4{
    background-color: #fefee2;
    height: 0.8vh;
    width: 3.125vw;
    margin-left: 1.6vw;
}

/*container du menu*/
.menu{
    width: 5.7vw;
    height: 8vh;
    cursor: pointer;
    padding: 2.7vw 0 0 6vw;
}

/*bloc nom de l'artiste*/
.name{
    color: #fefee2;
    font-family: 'Bowlby One SC', cursive; 
    display: flex;
    flex-direction: column;
    margin-left: 12.04vh;
    margin-top: 15.7vh;
}

/*taille nom de l'artiste*/
h1{
    font-size: 10.05vh;
}

/*taille spécifications artiste*/
.subtitle1, .subtitle2{
    font-size: 5.65vh;  
}

/*margin pour coller les subtitles*/
.subtitle1{ 
    margin-bottom: 0;
}

.subtitle2{
    margin-top: 0;
}

/*couleur de fond et dimensiosn de la partie biographie*/
.biography{
    background-color: #2b2727;
    width: 100vw;
    height: 100vh;
}

/*taille et dimmensions du titre de la partie biographie*/
.rubric_title{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.6vw;
}

/*taille chiffre du titre de la partie*/
.number{
    font-size: 16vh;
}

/*taille du texte du titre de la partie*/
.text{
    font-size: 6.7vh;
}

/*fond, dimensions et grid de la partie biographie*/
.container_biography{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    background-image: url(images/portrait.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

/*couleur de police de tous les blocs dates*/
.birth, .beginning, .glory, .death{
    color: #fefee2;
}

/*taille et famille de police des dates*/
.date1, .date2, .date3, .date4{ 
    font-size: 10vh;
    font-family: 'Permanent Marker', cursive;
    /*ajout du curseur*/
    cursor: pointer;
}

/*taill et famille de police des textes des blocs*/
.text1, .text2, .text3, .text4{
    font-size: 3.3vh;
    font-family: 'Poppins', sans-serif;
    /*rendre le texte invisible*/
    display: none;
}

/*survol sur les dates pour faire apparître les textes correspondant*/
.date1:hover~.text1{
    display: block;
}

.date2:hover~.text2{
    display: block;
}

.date3:hover~.text3{
    display: block;
}

.date4:hover~.text4{
    display: block;
}

/*emplacement du premier bloc dans la grid*/
.birth{
    grid-area:  1 / 1 / 3 / 2;  
    margin-left : 2.6vw;
}

/*emplacement du bloc avec la deuxième date dans la grid*/
.beginning{
    grid-area: 4 / 2 / 6 / 3;
}

/*emplacement du bloc avec la troisième date dans la grid*/
.glory{
    grid-area: 3 / 5 / 5 / 7; 
}

/*emplacement du bloc   avec la dernière date dans la grid*/
.death{
    grid-area: 2 / 7 / 4 / 8;
}

.rubric2_title{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.6vw;
    padding-top: 5.2vw;
    padding-bottom: 2.6vw;
}

/*taille chiffre du titre de la partie*/
.number2{
    font-size: 16vh;
}

/*taille du texte du titre de la partie*/
.text2bis{
    font-size: 6.7vh;
}
/*
/*couleur de fond et dimensiosn de la partie biographie*/
.gallery{
    background-color: #2b2727;
    width: 100vw;
    height: 100vh;
}

.container_gallerie{
    display:flex;
    width:100vw;
    overflow: hidden;
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    /*border-radius: 50px;*/
    color:#fefee2;
    cursor:pointer;
    flex:0.5;
    margin:0px;
    position: relative;
    transition:flex 0.7s ease-in;
    
}

.panel h3{
    font-size:2.5vw;
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    opacity:0;
    width: 23.5vw;
    font-family: 'Bowlby One SC', cursive;
}

.panel p{
    font-size:1.25vw;
    position:absolute;
    bottom:0;
    left:0;
    margin:0;
    opacity:0;
    width: 23.5vw;
    font-family: 'Bowlby One SC', cursive;
}

.panel.active{
    flex:1;
    opacity: 1;
}


.panel.active h3{
    opacity:1;
    transition:opacity 0.3s ease-in 0.5s;
    padding:2.2vh 2.6vw ;
    background: rgba(38, 34, 34, 0.8);
    height:16.7vh;
    justify-content: center;
    margin: 0;
}

@media (max-width:480px){
    .container{
        width:100vw; 
    }
    .panel:nth-of-type(5),.panel:nth-of-type(6){
        display:none;
    }
}

/*deuxième partie de la rubrique gallerie*/
.gallerie_needs{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background-color: #2b2727;
  }
  
  /*photo du plan de travail*/
  .photo{
    grid-area: 1 / 1 / 4 / 4; 
    background-image: url(images/plan_de_travail.jpg);
    width: 52vw;
    height: 76.7vh;
    margin-top: 15.6vw;
    margin-left: 7.6vw;
  }
  
  /*citation de l'artiste*/
  .citation{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    color: #2b2727;
    font-weight: 700; 
    background: #fefee2;
    grid-area: 3 / 3 / 5 / 8;
    padding: 2.6vw 4.3vw 0 4.3vw;
    margin-bottom: 7.8vw;
    margin-right: 7.8vw;
  }
  
  /*image d'une tâche de peinture rouge*/
  .colored_dash_paint{
    background-image: url(images/dash_paint.png);
    grid-area: 4 / 6 / 6 / 8;
    background-repeat: no-repeat;
    width: 15.6vw;
    height: 31.4vh;
    position: relative;
    bottom: 120px;
  }

