body{
    box-sizing: border-box;
    margin: 0;
    background-color: #2b2727;
}

/*apparition douce des rubriques lorsqu'on clique sur le menu*/
html{
    scroll-behavior: smooth;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #2b2727;
}

.header{
    justify-content: center;
    width: 100%;
    height: 107.24vh;
}

/*en-tête principale*/
#div1{
    position: relative;
    background-image: url(images/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000000;
    background-position: center right;
}

/*menu de navigation*/
.background_menu{
    background-image: url(images/affiche2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    display: none;
}

/*grid des différentes rubriques du site sur le menu de navigation*/
.category_menu{
    display: none;   
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,1fr);
    z-index:99;
}

.catbio, .accueil >a{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    text-decoration: none;
}

/*flex des rubriques du menu pour aligner le chiffre avec le texte à côté*/
.rubric1, .rubric2, .rubric3, .rubric4, .rubric5{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 30vw;
    height: 27vh;
}

/*emplacement de la rubrique biographie dans la grid*/
.rubric1{
    grid-area: 3 / 1 / 5 / 4 ; 
    margin-left: 2.6vh;
}

/*survol des rubriques du menu*/
.rubric1:hover, .rubric2:hover, .rubric3:hover, .rubric4:hover{
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    background-size: 30vw;
}

/*survol rubrique biographie*/
.rubric1:hover{
    background-image: url(images/survol_vert.png);
    background-size: contain;
}

/*emplacement de la grid de la rubrique gallerie*/
.rubric2{
    grid-area: 4 / 6 / 6 / 9; 
}

/*survol de la rubrique gallerie*/
.rubric2:hover{
    background-image: url(images/brush_red.png);
    background-size: contain;
}

/*emplacement de la rubrique événements dans la grid*/
.rubric3{
    grid-area:  5 / 2 / 7 / 5; 
}

/*survol de la rubrique événements*/
.rubric3:hover{
    background-image: url(images/brush_violet\ 1.png);
    background-size: contain;
}

/*emplacement de la rubrique contact dans la grid*/
.rubric4{
    grid-area:  6 / 5 / 8 / 9;
}

.rubric5{
    grid-area: 1 / 3 / 3 / 6;
    font-size: 3.3vw;
}

.rubric5:hover{
    background-image: url(images/brush_red.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*survol de la rubrique contact*/
.rubric4:hover{
    background-image: url(images/brush_black.png);
    background-size: contain;
}

/*taille du chiffre des rubriques*/
.nb{
    font-size: 7.8vw;
}

/*taille des titres des rubriques*/
.category{
    font-size: 3.3vw;
}

/*barres du menu burger*/
.bar1{
    background-color: #fefee2;
    height: 0.16vh;
    width: 4.6vw;
    margin: 0 0 0.5vw 1.3vw;
}

.bar2{
    background-color: #fefee2;
    height: 0.6vh;
    width: 3.1vw;
    margin: 0 0 0.5vw 2.6vw;
}

.bar3{
    background-color: #fefee2;
    height: 0.16vh;
    width: 5.7vw;
    margin-bottom: 0.5vw;
}

.bar4{
    background-color: #fefee2;
    height: 0.8vh;
    width: 3.125vw;
    margin-left: 1.6vw;
}

/*container du menu burger*/
.menu{
    cursor: pointer;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.802);
    margin: 1.04vw 0 0 1.04vw;
    padding: 1.56vw 1.04vw;
    border-radius: 10px;
    animation: fade 0.6s;
}

/*bloc avec le nom de l'artiste*/
.name{
    color: #fefee2;
    font-family: 'Bowlby One SC', cursive; 
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    justify-content: center;
    padding-left: 100px;
}

/*taille du nom de l'artiste*/
h1{
    font-size: 5vw;
}

/*taille des spécialités de l'artiste*/
.subtitle1, .subtitle2{
    font-size: 2vw;  
}

/*margin pour coller les 2 spécialités*/
.subtitle1{ 
    margin-bottom: 0;
}

.subtitle2{
    margin-top: 0;
}

/*couleur de fond et dimension de la partie biographie*/
#biography{
    width: 100%;
    height: 100vh;
}

/*taille et dimmensions du titre de la partie biographie*/
.rubric_title{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2.6vw;
}

/*taille du chiffre du titre de la partie*/
.number{
    font-size: 7.8vw;
}

/*taille du texte du titre de la partie*/
.text{
    font-size: 3.33vw;
}

/*fond, dimensions et grid de la partie biographie*/
.container_biography{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    background-image: url(images/portrait.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

/*couleur de police de tous les blocs dates*/
.birth, .beginning, .glory, .death{
    color: #fefee2;
}

/*taille et famille de police des dates*/
.date1, .date2, .date3, .date4{ 
    font-size: 5vw;
    font-family: 'Permanent Marker', cursive;
    /*ajout du curseur*/
    cursor: pointer;
}

/*taille et famille de police des textes des blocs*/
.text1, .text2, .text3, .text4{
    font-size: 1.66vw;
    font-family: 'Poppins', sans-serif;
    /*rendre le texte invisible*/
    display: none;
}

/*survol sur les dates pour faire apparître les textes correspondant*/
.date1:hover~.text1, .date2:hover~.text2, .date3:hover~.text3, .date4:hover~.text4{
    display: block;
}

/*emplacement du premier bloc dans la grid*/
.birth{
    grid-area:  1 / 1 / 3 / 2;  
    margin-left : 2.6vw;
}

/*emplacement du bloc avec la deuxième date dans la grid*/
.beginning{
    grid-area: 4 / 2 / 6 / 3;
}

/*emplacement du bloc avec la troisième date dans la grid*/
.glory{
    grid-area: 3 / 5 / 5 / 7; 
}

/*emplacement du bloc avec la dernière date dans la grid*/
.death{
    grid-area: 2 / 7 / 4 / 8;
}

/*===================================================================================*/
/*mise en forme du titre de la partie gallerie*/
.rubric2_title{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.6vw;
    padding-top: 5.2vw;
    padding-bottom: 2.6vw;
}

/*taille du chiffre du titre de la deuxième partie*/
.number2{
    font-size: 7.8vw;
}

/*taille du texte du titre de la deuxième partie*/
.text2bis{
    font-size: 3.33vw;
}

/*couleur de fond et dimension de la partie gallerie*/
#gallery{
    width: 100%;
    height: auto;
}

/*===================================================================================*/
/*carrousel des oeuvres*/
.bloc_image { 
    display: none; 
    height: 100vh;
    max-width: 100vw;
}

.carousel_oeuvres {
    max-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

/*flèches de défilement du carrousel*/
.prevTop, .nextTop {
    cursor: pointer;
    position: absolute;        
    top: 50%;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 6.28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fefee2;
    font-size: 1.56vw;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
    transform: rotate(90deg);
    margin-left: 20px;
}

.prevTop{ 
    margin-top: -60px; 
}

.nextTop { 
    margin-bottom: 15px; 
}

.prevTop:hover, .nextTop:hover {
    background-color: rgba(0,0,0,0.5);
} 

/*bandeau de l'image avec le titre et la date*/
.image_info{
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 39, 39,75%);
    border-radius: 25px;
    height: 16.5vh;
    width: 37.5vw;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    font-family: 'Bowlby One SC', cursive;
    padding-top: 40px;
} 

/*titre de l'oeuvre*/
.image_title {
    font-size:2.5vw;
    position:absolute;
    bottom:0;
    letter-spacing: 2px;
    color:#fefee2;
    padding-left: 30px;
    margin-bottom: 50px;
}

/*date de création de l'oeuvre*/
.image_date{
    font-size:2vw;
    position:absolute;
    bottom:0;
    letter-spacing: 2px;
    color:#fefee2;
    padding-left: 30px;
}

.image{ 
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    display: flex;
}

/*barre vertical pour défilement du carrousel*/
.slide-dot{ 
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    background-color: rgba(254, 254, 226, 75%);
    border-radius: 25px;
    padding: 10px;
    right: 0;
}

/*chaque point de la barre verticale de défilement du carrousel*/
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover { 
    background-color: #111111; }

/*animation du carrousel*/
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0} 
    to {opacity: 1}
}

/*deuxième partie de la rubrique gallerie*/
.gallerie_needs{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
  
/*photo du plan de travail*/
.photo{
    grid-area: 1 / 1 / 4 / 4; 
    background-image: url(images/plan_de_travail.jpg);
    width: 52vw;
    height: 76.7vh;
    margin-top: 15.6vw;
    margin-left: 7.6vw;
}
  
/*citation de l'artiste*/
.citation{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6vw;
    color: #2b2727;
    font-weight: 700; 
    background: #fefee2;
    grid-area: 3 / 3 / 5 / 8;
    padding: 2.6vw 4.3vw 0 4.3vw;
    margin-bottom: 7.8vw;
    margin-right: 7.8vw;
    background-image: url(images/dash_paint.png);
    background-repeat: no-repeat;
    background-position: bottom right -5vw;
}

/*=======================================================================================*/
/*titre de la troisième partie sur les événements*/
.rubric3_title{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 2.6vw;
    padding-bottom: 2.6vw;
}

/*taille chiffre du titre de la partie événements*/
.number3{
    font-size: 7.8vw;
}

/*taille du texte du titre de la partie événements*/
.text3bis{
    font-size: 3.33vw;
}

/*mise en forme et dimensions de la partie événements*/
#events{
    width: 100%;
    height: auto;
}

/*carrousel des expos*/
.container_expo{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative; 
    color: #fff;
}

/*slide de gauche*/
.left-slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/*slide de droite*/
.right-slides{
    position: absolute;
    left: 35%;
    top: 0;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.left-slides > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*textes des slides de gauche*/
.left-slides h3{
    font-size: 2.5vw;
    margin-bottom: 0.52vw;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.left-slides h2{
  font-size: 1.66vw;
  margin-bottom: 0.52vw;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-bottom: 2.6vw;
  padding-top: 2.6vw;
}

.left-slides p{
    font-size: 1.66vw;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.right-slides > div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button:focus{
    outline: none;
}

/*flèche de droite*/
.prev{
    cursor: pointer;
    position: absolute;        
    top: 50%;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: black;
    font-size: 5.2vw;
    background-color: #fefee2;
    transition: background-color 0.6s ease;
}

/*flèche de gauche*/
.next{
    cursor: pointer;
    position: absolute;        
    top: 40%;
    transform: translateY(-50%);
    width: 3.125vw;
    height: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    color: black;
    font-size: 5.2vw;
    background-color: #fefee2;
    transition: background-color 0.6s ease;   
}

/*flèche de droite positionnement*/
.prev{  
    left: 35.4vw; 
}

/*flèche de gauche positionnement*/
.next{
     right: 65.1vw; 
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
  color: #fefee2;
}

/*====================================================================================*/
/*footer*/
#footer{
    background-color: #2b2b2b;
    width: 100%;
    height: 100%;
}

/*mise en forme du titre du footer*/
.rubric_title4{
    color: #000000;
    font-family: 'Permanent Marker', cursive; 
    filter: drop-shadow(10px 10px 10px #ffffff);
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2.5rem;
}

/*taille chiffre du titre de la partie*/
.nb4{
    font-size: 7.8vw;
}

/*taille du texte du titre de la partie*/
.text4bis{
    font-size: 3.33vw;
}

/*container principal du footer*/
.content_contact{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap:20%;
}

/*partie gauche du footer*/
.left{
    display: flex;
    align-items:center;
    justify-content: center;
}

/*blazon*/
.logo{
    position: absolute;
    z-index: 1;
}

/*fond flouté derrière le blazon*/
.background_radius{
    height: 52.3vh; 
	width: 26vw; 
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0) 100%);
    position: relative;
}

/*partie droite du footer*/
.right{
    color: #fefee2;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
}

/*partie en haut à droite avec la newsletter*/
.news_mail{
    display: flex;
    flex-direction: column;
    gap:15px;
}

/*barre pour inscription à la newsletter*/
.validation{
    height: 2.5rem; 
    display: flex;
    justify-content: space-between;
}

/*partie de la barre dans laquelle on saisit le mail*/
input{
    border: none;
    background-color: #fefee2;
    border-radius: 16px 0 0 16px;
    display: flex;
    width:100%;
}

/*bouton ok pour valider*/
button{
    border: none;
    border-left:1px solid black;
    background-color: #fefee2;
    text-align: center;
    border-radius: 0 16px 16px 0;
    width:15%;
    cursor: pointer;
}

/*changement de couleur du bouton lors du survol*/
button:hover{
    background-color: #2b2b2b;
    color: #fefee2;
    border: 1px solid #fefee2;
}

/*police et taille du texte dans la barre d'inscription*/
input::placeholder{
    text-align: start;
    text-indent: 15px;
    vertical-align: middle;
    background-color: #fefee2;
}

/*texte au-dessus des média sociaux*/
.merejoindre{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*tout le bloc des médias sociaux*/
.social_media{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 66px;
}

/*image logo Facebook*/
.facebook1{
    position: relative;
    top: -28px;
}

/*taille de l'image après changement*/
.facebook > a{
    width: 50px;
    height: 50px;
    margin: 0;
}

/*emplacement de l'image après changement*/
.facebook1 > a > img{
    width:100%;
    height: auto;
    position: relative;
    top: 45px;
}

.facebook > :hover > img{
    top: 37px;
}

/*image logo Instagram*/
.Insta{
    position: relative;
    top: -27px;
}

.instagram > a{
    width: 50px;
    height: 50px;
    margin: 0;
}

.Insta > a > img{
    width:100%;
    height: auto;
    position: relative;
    top: 50px;
}

.instagram > :hover > img{
    top: 38px;
}

/*image logo Pinterest*/
.pint{
    position: relative;
    top: -26px;
}

.pinterest > a{
    width: 50px;
    height: 50px;
    margin: 0;
}

.pint > a > img{
    width:100%;
    height: auto;
    position: relative;
    top: 50px;
}

.pinterest > :hover > img{
    top: 37px;
}

/*image logo Deviant Art*/
.DA{
    position: relative;
    top: -27px;
}

.deviant_art > a{
    width: 60px;
    height: 60px;
    margin: 0;
}

.DA > a > img{
    width:100%;
    height: auto;
    position: relative;
    top: 45px;
}

.deviant_art > :hover > img{
    top: 37px;
}

/*=====================================================================================*/
/*responsive tablet*/

@media screen and (min-width: 769px) and (max-width: 992px){
    /*header*/
    #div1{
        background-image: url(images/background_responsive.png);
    }

    .name{
        padding-left: 50px;
    }

    h1{
        font-size: 6vw;
    }

    .subtitle1, .subtitle2{
        font-size: 3vw;
    }

    /*menu burger*/
    .bar1{
        height: 0.3vh;
    }

    .bar2{
        height: 0.4vh;
    }

    .bar3{
        height: 0.3vh;
    }

    .bar4{
        height: 0.4vh;
    }

    /*catégories menu de navigation*/
    .rubric1, .rubric2, .rubric3, .rubric4, .rubric5{
        background-size: contain;
        background-repeat: no-repeat;
        height: 15vh;
    }

    .rubric1{
        background-image: url(images/survol_vert.png);  
    }

    .catbio1, .catbio2{
        color: #e9940b;
    }

    .rubric2{
        background-image: url(images/brush_red.png);
    }

    .rubric3{
        background-image: url(images/brush_violet\ 1.png);
    }

    .catbio5, .catbio6{
        color: #fefee2;
    }

    .rubric4{
        background-image: url(images/brush_black.png);
    }

    .catbio7, .catbio8{
        color: #177026;
    }

    .rubric5{
        background-image: url(images/brush_red.png);
    }

    /*première partie biographie*/
    .container_biography{
        background-image: url(images/bio_responsive.png);
        background-position: center;
        grid-template-rows: repeat(4,1fr);
    }
    
    .number, .number2, .number3, .nb4{
        font-size: 8.5vw;
    }
    
    /*taille du texte du titre de la partie*/
    .text, .text2bis, .text3bis, .text4bis{
        font-size: 4vw;
    }

    .rubric_title{
        justify-content: end;
        margin-right: 2.6vw;
        color: #fefee2;
        filter: drop-shadow(10px 10px 10px black);
        gap: 15px;
    }

    .text1, .text2, .text3, .text4{
        font-size: 2vw;
        /*rendre le texte visible*/
        display: block;
    }

    .birth{
        grid-area:  1 / 1 / 3 / 4;  
    }
    
    /*emplacement du bloc avec la deuxième date dans la grid*/
    .beginning{
        grid-area: 2/ 3 / 4 / 6;
    }
    
    /*emplacement du bloc avec la troisième date dans la grid*/
    .glory{
        grid-area: 3 / 2 / 5 / 4; 
    }
    
    /*emplacement du bloc avec la dernière date dans la grid*/
    .death{
        grid-area: 4 / 4 / 6 / 6;
    }

    /*2ème partie gallerie*/
    #gallery{
        padding-top: 50px;
    }
    
    /*taille du chiffre du titre de la deuxième partie*/
    .prevTop, .nextTop {
        font-size: 5vw;
        margin-left: 40px;
    }

    .image_info{
        height: 11vh;
        width: 33vw;
    } 

    .image_title{
        font-size: 3vw;
    }

    .image_date{
        font-size: 2.5vw;
    }

    .photo{
        width: 500px;
        height: 367px;
    }

    .citation{
        padding-bottom: 2.6vw;
        font-size: 2vw;
        background-image: url(images/dash_paint_responsive.png);
    }

    .rubric2_title, .rubric3_title, .rubric_title4{
        color: #fefee2;
        filter: drop-shadow(10px 10px 10px black);
        gap: 15px;
    }

    .content_contact{
        flex-direction: column-reverse;
    }

    .right{
        font-size: 3.5vw;
        gap: 2rem;
    }

    .news_mail{
        align-items: center;
    }

    #email, button{
        font-size: 18px;
    }

    .validation{
        width: 80vw;
        height: 5vh;
    }

    .merejoindre{
        text-align: center;
    }

    .social_media{
        gap: 2vw;
    }


}

/*===============================================================================*/
@media screen and (min-width: 578px) and (max-width: 768px){
    #div1{
        background-image: url(images/background_responsive.png);
        background-position: bottom right;
    }

    .name{
        padding-left: 40px;
    }
    
    .subtitle1, .subtitle2{
        font-size: 2.5vw;  
    }

    .bar2{
        height: 0.3vh;
    }

    .bar4{
        height: 0.3vh;
    }
    
    .category, .accueil{
        font-size: 4vw;
    }

    .rubric1, .rubric2, .rubric3, .rubric4, .rubric5{
        background-size: contain;
        background-repeat: no-repeat;
        height: 15vh;
    }

    .rubric1{
        background-image: url(images/survol_vert.png);  
    }

    .catbio1, .catbio2{
        color: #e9940b;
    }

    .rubric2{
        background-image: url(images/brush_red.png);
    }

    .rubric3{
        background-image: url(images/brush_violet\ 1.png);
    }

    .catbio5, .catbio6{
        color: #fefee2;
    }

    .rubric4{
        background-image: url(images/brush_black.png);
    }

    .catbio7, .catbio8{
        color: #177026;
    }

    .rubric5{
        background-image: url(images/brush_red.png);
    }

    .container_biography{
        background-image: url(images/bio_responsive.png);
        background-position: center;
        grid-template-rows: repeat(4,1fr);
        margin-top: 20px;
    }

    .rubric_title{
        justify-content: end;
        margin-right: 2.6vw;
    }

    .text1, .text2, .text3, .text4{
        font-size: 2vw;
        /*rendre le texte visible*/
        display: block;
    }

    .birth{
        grid-area:  1 / 1 / 3 / 3;  
    }
    
    /*emplacement du bloc avec la deuxième date dans la grid*/
    .beginning{
        grid-area: 2/ 3 / 4 / 6;
    }
    
    /*emplacement du bloc avec la troisième date dans la grid*/
    .glory{
        grid-area: 3 / 2 / 6 / 4; 
    }
    
    /*emplacement du bloc avec la dernière date dans la grid*/
    .death{
        grid-area: 4 / 3 / 6 / 5;
    }

    /*2ème partie gallerie*/
    #gallery{
        padding-top: 50px;
    }

    .prevTop, .nextTop {
        font-size: 5vw;
        margin-left: 30px;
    }

    .image_info{
        height: 13vh;
    } 

    .image_title{
        font-size: 3.5vw;
    }

    .image_date{
        font-size: 3vw;
    }

    .slide-dot{
        top: 45%;
    }

    .photo{
        background-image: url(images/plan_de_travail_responsive.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 368px;
        margin-top: 15.6vw;
        margin-left: 7.6vw;
        grid-area: 1 / 1 / 4 / 4;
    }

    .citation{
        background-image: url(images/dash_paint_responsive.png);
        grid-area: 3 / 2 / 5 / 7;
        font-size: 2.5vw;
    }

    .right{
        font-size: 3vw;
    }
    
}

/*====================================================================================*/
@media screen and (min-width: 320px) and (max-width: 577px){
    #div1{
        background-image: url(images/background_responsive.png);
        background-size: cover;
    }

    .name{
        padding-left: 30px;
    }

    h1{
        font-size: 7vw;
    }

    .subtitle1, .subtitle2{
        font-size: 4vw;  
    }

    .bar1{
        height: 0.32vh;
        width: 6vw;
    }

    .bar2{
        height: 0.4vh;
        width: 5vw;
    }

    .bar3{
        height: 0.4vh;
        width: 7vw;
    }

    .bar4{
        height: 0.5vh;
        width: 4vw;
    }

    .rubric1, .rubric2, .rubric3, .rubric4, .rubric5{
        background-size: contain;
        background-repeat: no-repeat;
        height: 10vh;
    }

    .rubric1{
        background-image: url(images/survol_vert.png);  
    }

    .catbio1, .catbio3, .catbio5, .catbio7{
        font-size: 8.2vw;
    }

    .catbio1, .catbio2{
        color: #e9940b;
    }

    .catbio2, .catbio4, .catbio6, .catbio8{
        font-size: 5vw;
    }

    .rubric2{
        background-image: url(images/brush_red.png);
        grid-area: 4 / 5 / 6 / 9;
    }

    .rubric3{
        background-image: url(images/brush_violet\ 1.png);
    }

    .rubric4{
        background-image: url(images/brush_black.png);
    }

    .catbio5, .catbio6{
        color: #fefee2;
    }

    .catbio7, .catbio8{
        color: #177026;
    }

    .rubric5{
        background-image: url(images/brush_red.png);
    }

    .accueil{
        font-size: 5vw;
    }

    .container_biography{
        background-image: url(images/bio_responsive.png);
        background-position: right;
        grid-template-rows: repeat(4,1fr);
        margin-top: 20px;
    }

    .rubric_title{
        justify-content: end;
        margin-right: 2.6vw;
    }

    .text1, .text2, .text3, .text4{
        font-size: 2vw;
        /*rendre le texte visible*/
        display: block;
    }

    .birth{
        grid-area:  1 / 1 / 3 / 4;  
    }
    
    /*emplacement du bloc avec la deuxième date dans la grid*/
    .beginning{
        grid-area: 2/ 2 / 3 / 5;
    }
    
    /*emplacement du bloc avec la troisième date dans la grid*/
    .glory{
        grid-area: 3 / 2 / 6 / 4; 
    }
    
    /*emplacement du bloc avec la dernière date dans la grid*/
    .death{
        grid-area: 4 / 4 / 6 / 6;
    }

    #gallery{
        padding-top: 50px;
    }

    .photo{
        background-image: url(images/plan_de_travail_responsive2.jpg);
        background-repeat: no-repeat;
        width: 300px;
        height: 221px;
        margin-top: 15.6vw;
        margin-left: 3vw;
        grid-area: 1 / 1 / 4 / 4;
    }

    .citation{
        background-image: url(images/dash_paint_responsive2.png);
        grid-area: 3 / 2 / 5 / 6;
        font-size: 3vw;
        padding-bottom: 10px;
    }

}



   
    








    
